[submodule "sndcomp/soundcomparisons"]
	path = sndcomp/soundcomparisons
	url = https://github.com/lingdb/soundcomparisons
[submodule "CoBL/stage1/CoBL"]
	path = CoBL/stage1/CoBL
	url = https://github.com/lingdb/CoBL
[submodule "sndcomp.php/src"]
	path = sndcomp.php/src
	url = https://github.com/lingdb/Sound-Comparisons
