[submodule "sndcomp/soundcomparisons"]
	path = sndcomp/soundcomparisons
	url = https://github.com/lingdb/soundcomparisons
[submodule "CoBL/CoBL"]
	path = CoBL/CoBL
	url = https://github.com/lingdb/CoBL-public
[submodule "sndcomp.php/src"]
	path = sndcomp.php/src
	url = https://github.com/lingdb/Sound-Comparisons
