[Unit]
Description=Run /containerSetup/database/dumpdb.sh a single time.

[Service]
Type=oneshot
ExecStart=/containerSetup/database/dumpdb.sh
User=root
Group=systemd-journal
